<%- include("partials/header.ejs") %>

    <form action="/" method="POST">
        <div class="post-container">
            <div class="item item-1">
                <input type="text" name="title" id="title" placeholder="Title" class="text-input roboto-mono-font"><br>
            </div>
            <div class="item item-2">
                <textarea name="content" id="content" placeholder="Content" class="text-input text-area roboto-mono-font"></textarea>
            </div>
            <div class=item item-3"">
                <input type="submit" id="submit" class="submit-input">
            </div>
        </div>
    </form>

<%- include("partials/footer.ejs") %>