<%- include("partials/header.ejs") %>

    <div class="view-container">
        <h2 class="press-start-2p-regular view-title"> <%= blog.title %></h2>
        <p class="preserve roboto-mono-font view-content"> <%= blog.content %></p>
    </div>

<%- include("partials/footer.ejs") %>